<h1 class="art-7-font" mat-dialog-title>
  About Art 7
</h1>
<mat-dialog-content>
  <h3>
    Art 7 is a collaborative project built from scratch by <b>split</b>
  </h3>
  <h2>How it works</h2>
  <p>Once you sign up, you can claim a single plot</p>
  <p>Once chosen, you can't move your plot!</p>
  <p>You can draw whatever you like in your plot! Collaboration is encouraged!</p>
  <b>Use the plot tool to find your plot and see who is around you 😄</b>
  <mat-divider class="my-2"></mat-divider>
  <h2 class="mb-0">Hotkeys</h2>
  <div class="hotkey-info-container">
    <span class="hotkey-name">Control / Middle Mouse</span>
    <span class="hotkey-description">Temporarily enable panning while pressed</span>
  </div>
  <mat-divider class="my-2"></mat-divider>
  <h2>Let's make something cool! ✨<br/>
    - split
  </h2>
  <span style="font-size: 0.2em">please dont be weird and abuse it</span>
</mat-dialog-content>
